.cart-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #e4b364;
    border-radius: 5px;
  }
  
  .cart-container h1 {
    margin-top: 0;
  }
  
  .cart-container center {
    margin-top: 20px;
  }
  
  .cart-container button {
    background-color: #007bff;
    color: #879df5;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .cart-container button:hover {
    background-color: #0056b3;
  }
  
  .cart-container .cart-item {
    margin-bottom: 20px;
  }
  
  .cart-container p {
    margin: 5px 0;
  }
  
  .cart-container hr {
    border: none;
    border-top: 1px solid #46d74d;
  }
  