.login-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  }

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

label {
  display: block;
  margin-bottom: 10px;
}

label[for="username"] {
  margin-top: 20px;
}

label[for="password"] {
  margin-top: 40px;
}

input[type="submit"] {
  width: 100%;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #45a049;
}