.page {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .left-image {
    margin-right: 20px; /* Adjust margin as needed */
  }
  
  .left-image img {
    max-width: 100%; /* Ensure image doesn't exceed container width */
  }
  
  .right-image {
    display: flex;
    flex-direction: column;
  }
  
  .right-image > div {
    margin-bottom: 10px; /* Adjust margin as needed */
  }
  
  .right-image h3 {
    margin-top: 0; /* Remove default margin */
  }
  
  .right-image select,
  .right-image input[type="number"] {
    margin-bottom: 10px; /* Adjust margin as needed */
    padding: 5px; /* Adjust padding as needed */
  }
  
  .right-image button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .right-image button:hover {
    background-color: #0056b3;
  }
  